/* ReFocus Stylesheet */

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-size: 2em;
	font-family: 'Reem Kufi', sans-serif;
	background-color: #121212;
	color: white;
}

h1 {
	font-size: 3em;
}

form {
	padding-bottom: 15px;
	padding-top: 10px;
	color:black;
}

p {
	padding: 8px;
}

hr {
	width: 30%;
}

select {
	color: black;
}

.wrapper {
	margin: 10px;
	padding: 10px;

}

#title {
	padding: 50px;
}

#next-step-section {
	display: none;
}

#current-point-section {
	display: none;
}

#timer-section {
	display: none;
}